body {
	background-color: #000;
}
#aaa {
	height: 1000px;
	width: 100%;
	/*background-color: #FFF;*/
}
#current {
	width: 100%;
	font-size: 250px;
	text-align: center;
	margin: 0px;
	border: 0px;
	outline: 0px;
	color:#fff;
	background-color: #000;
}
.ball-cotainer {
	margin: 20px;
}
.ball-box {
	float: left;
	position: relative;
	margin: 8px;
}
.ball {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	/*radial-gradient(50% 80%, circle, #00D1F2, #0055C1);*/
	background-image: -webkit-radial-gradient(50% 80%, circle cover, rgb(0, 209, 242), rgb(0, 85, 193));
	box-shadow: rgba(0, 0, 0, 0.498039) 0px 2px 6px 0px,
				rgba(0, 236, 255, 0.67) 0px 2px 10px 0px,
				rgba(0, 0, 150, 0.6) 0px 0px 10px 0px inset;
	-webkit-box-reflect: below -90px -webkit-gradient(linear, 100% 0%, 0% 0%, from(rgba(0, 0, 0, 0.0980392)), to(rgba(0, 0, 0, 0))) 0 fill / auto / 0px stretch;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	display: -webkit-box;
}
.ball .glear {
	position: absolute;
	border-radius: 100px;
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(top,
						rgba(250, 250, 255, 1) 0%,
						rgba(250, 250, 255, 0.7) 10%,
						rgba(250, 250, 255, 0) 100%);
	z-index: 3;
	top: -10px;
	-webkit-transform: scale(0.8, 0.6);
}
.number {
	font-size: 48px;
}
.remove {
	text-align: right;
	color: #0F0;
	top: 0;
	right: 0;
	position: absolute;
	font-size: 24px;
}
.remove:hover {
	color: rgb(0, 180, 193);
}
.glow-text {
	color: #FFFFFF;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5) , 0px 0px 4px rgba(255, 255, 255, 1);
	font-family: 'Telex', sans-serif;
	font-weight: 700;
}